* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
  font-family: $font-stack;
  background: $bg-color;
  color: $primary-color;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

a {
  width: min-content;
  display: block;
  color: $primary-color;
  text-decoration: none;
}

@media (pointer: fine) {
  a:hover {
    cursor: pointer;
    color: $secondary-color;
  }
}

@media (pointer: coarse) {
  a:active {
    color: $secondary-color;
  }
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

picture {
  display: block;
  height: min-content;
  width: min-content;
}
