.hero {
  position: relative;
  width: 100%;
  height: calc(100dvh - 75px);
  overflow: hidden;

  .title-container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-align: center;

    picture {
      align-self: flex-end;
      .bird {
        width: 3.75rem;

        @include respond-to(sm) {
          width: 3.4rem;
        }

        @include respond-to(xs) {
          width: 3.15rem;
        }
      }
    }

    h1 {
      font-size: 3.75rem;
      font-weight: 800;
      letter-spacing: -0.02em;
      .lands {
        color: $secondary-color;
      }

      @include respond-to(sm) {
        font-size: 3.4rem;
      }

      @include respond-to(xs) {
        font-size: 3.15rem;
      }
    }

    p {
      font-size: 1.25rem;
      font-weight: 700;
      width: 31.25rem;
      max-width: 90%;

      @include respond-to(xs) {
        font-size: 1.15rem;
      }
    }
  }

  .earth-globe-container {
    position: absolute;
    width: 100%;
    top: 60%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);

    .earth-globe-airplane {
      position: relative;
      width: 1000px;
      display: flex;
      align-items: center;
      justify-content: center;

      .airplane-container {
        position: absolute;
        top: 49%;
        left: 43.5%;
        transform-origin: center center;
        transform: translate(-50%, -50%);
        animation: moveAirplane 12s linear infinite;

        .airplane {
          width: 8rem;
          animation: rotateAirplane 12s linear infinite;
        }

        @keyframes rotateAirplane {
          0% {
            transform: rotate(-90deg);
          }

          25% {
            transform: rotate(0deg);
          }

          50% {
            transform: rotate(90deg);
          }

          75% {
            transform: rotate(180deg);
          }

          100% {
            transform: rotate(270deg);
          }
        }

        @keyframes moveAirplane {
          0% {
            transform: rotate(0deg) translate(-540px) rotate(0deg);
          }

          100% {
            transform: rotate(360deg) translate(-540px) rotate(-360deg);
          }
        }
      }
    }
  }
}

.partners {
  position: relative;
  width: 100%;
  height: 9rem;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding-block: 2rem;
  overflow: hidden;

  &::before,
  &::after {
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    content: '';
    height: 100%;
    position: absolute;
    width: 12rem;
    z-index: 1;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .partners-carousel {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 5rem;
    animation: scroll 60s linear infinite;

    img {
      height: 2.75rem;
    }
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
}

.card-section-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 5rem 2.5rem;
  text-align: center;
  scroll-margin-block-start: 9rem;

  @include respond-to(md) {
    scroll-margin-block-start: 7rem;
  }

  .card-section {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;

    h2 {
      font-size: 2rem;
      letter-spacing: -0.01rem;
    }

    .cards-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0;

      @include respond-to(md) {
        gap: 1rem;
      }

      @include respond-to(sm) {
        gap: 0;
      }

      .card {
        width: 30%;
        height: 22.8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        opacity: 0;
        transform: translateY(3rem);
        transition: all 1s ease-out;

        &.show {
          opacity: 1;
          transform: translateY(0);
        }

        @include respond-to(sm) {
          width: 100%;
        }

        .card-image {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          min-height: 9.4rem;

          .circle {
            position: relative;
            width: 11.25rem;
            height: 11.25rem;
            border-radius: 50%;
            overflow: hidden;
            background: $bg-color-secondary;
          }

          .team-member {
            position: absolute;
            height: 11.25rem;

            img {
              max-height: 11.25rem;
            }
          }
        }

        picture {
          height: 9.4rem;
          display: flex;
          align-items: center;
        }

        img {
          max-height: 9.4rem;
          max-width: 100%;
        }

        .card-text {
          max-width: 18.75rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;
          font-weight: 300;

          h3 {
            font-size: 1.5rem;
            font-weight: 600;
            letter-spacing: -0.01rem;

            @include respond-to(sm) {
              font-size: 1.25rem;
            }
          }

          p {
            letter-spacing: 0.02rem;
            line-height: 1.5rem;
          }

          .email {
            font-weight: 600;
          }

          .description {
            height: 5.25rem;
          }
        }

        @include respond-to(sm) {
          width: 100%;
          height: auto;
          gap: 1rem;
        }
      }

      @include respond-to(md) {
        gap: 1rem;
      }

      @include respond-to(sm) {
        flex-direction: column;
        gap: 3rem;
      }
    }

    @include respond-to(lg) {
      gap: 2rem;
    }

    @include respond-to(sm) {
      width: 80%;
      gap: 1.5rem;
    }

    @include respond-to(xs) {
      width: 90%;
    }
  }

  @include respond-to(md) {
    margin-block-end: 5rem;
  }
}

.divider-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .divider {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;

    .lines {
      width: 100%;
      hr {
        border: none;
        border-block-start: 2px solid $primary-color;
        width: 100%;
      }

      hr:last-of-type {
        border-color: $secondary-color;
        margin-block-start: 1px;
      }
    }

    .bird {
      width: 2rem;

      &.flipped {
        transform: scaleX(-1);
      }
    }
  }

  .divider.second {
    margin-block-start: 1rem;
  }
}

.stats-section {
  width: 100%;

  .firearms,
  .ammunition {
    position: relative;
    display: flex;
    align-items: center;

    img {
      width: 20rem;

      @include respond-to(md) {
        width: 15rem;
      }

      @include respond-to(sm) {
        width: 9.75rem;
      }

      @include respond-to(xs) {
        width: 15rem;
      }
    }

    .word {
      position: absolute;
      width: 0;
      display: flex;
      align-items: center;
      z-index: -1;
      opacity: 0;
      transition: all 1s ease-out;

      &.show {
        width: 85%;
        opacity: 1;

        @include respond-to(md) {
          width: 95%;
        }
      }

      .rectangle {
        height: 3.56rem;
        width: 100%;

        @include respond-to(md) {
          height: 2.85rem;
        }

        @include respond-to(sm) {
          height: 1.95rem;
        }
      }

      p {
        font-size: 5rem;
        font-weight: 900;
        letter-spacing: -0.03rem;

        @include respond-to(md) {
          font-size: 4rem;
        }

        @include respond-to(sm) {
          font-size: 2.75rem;
        }
      }

      @include respond-to(xs) {
        display: none;
      }
    }
  }

  .firearms {
    justify-content: flex-start;

    img {
      transform: translateY(5px);
    }

    .word {
      .rectangle {
        background: linear-gradient(to right, $secondary-color, $primary-color);
      }

      p {
        left: calc(50% - 5px);
        transform: translateX(-6px);
      }
    }
  }

  .ammunition {
    justify-content: flex-end;

    .word {
      .rectangle {
        background: linear-gradient(to left, $secondary-color, $primary-color);
      }

      p {
        right: calc(50% - 5px);
        transform: translateX(6px);
      }
    }

    img {
      transform: scaleX(-1);
    }
  }

  .stats-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding-block: 2rem;

    .stats {
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      .stat {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.75rem;
        opacity: 0;
        transform: translateY(3rem);
        transition: all 1s ease-out;

        &.show {
          opacity: 1;
          transform: translateY(0);
        }

        h3 {
          font-size: 1.2rem;
          font-weight: 400;
          letter-spacing: 0.02rem;

          @include respond-to(sm) {
            font-size: 1rem;
          }
        }

        p {
          font-size: 1.4rem;
          font-weight: 600;
          letter-spacing: 0.01rem;

          @include respond-to(sm) {
            font-size: 1.2rem;
          }
        }
      }

      .stat-divider {
        width: 1.5px;
        height: 6rem;
        background-color: $primary-color;
        margin: 0;

        @media screen and (max-width: 624px) {
          width: 9.4rem;
          height: 1.5px;
        }

        @include respond-to(xs) {
          width: 9.4rem;
          height: 1.5px;
        }
      }

      @include respond-to(md) {
        width: 80%;
      }

      @media screen and (max-width: 624px) {
        width: 90%;
        flex-direction: column;
        gap: 1.5rem;
      }
    }
  }
}

.two-column-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block-start: 5rem;
  margin-block-end: 3rem;
  scroll-margin-block-start: 9rem;

  @include respond-to(md) {
    scroll-margin-block-start: 7rem;
  }

  .two-column-container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    opacity: 0;
    transform: translateY(3rem);
    transition: all 1s ease-out;

    &.show {
      opacity: 1;
      transform: translateY(0);
    }

    .content {
      width: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      h2 {
        font-size: 2rem;
        letter-spacing: -0.01rem;
      }

      p {
        font-size: 1.125rem;
        letter-spacing: 0.02rem;
        line-height: 2rem;
      }

      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-block-start: 1rem;
        gap: 2rem;

        &.submitted {
          input:invalid,
          textarea:invalid {
            border-block-end-color: #ea4d67;
          }
        }

        .fieldset {
          display: flex;
          gap: 1rem;
        }

        .form-field {
          position: relative;
          width: 100%;
          display: flex;
          flex-direction: column;

          label {
            top: 50%;
            font-size: 1rem;
            transform: translateY(-50%);
            position: absolute;
            color: rgba(0, 0, 0, 0.4);
            pointer-events: none;
            transition: 0.3s;

            span {
              color: #ea4d67;
            }
          }

          input,
          textarea {
            width: 100%;
            font-family: $font-stack;
            font-size: 1rem;
            border: none;
            border-block-end: 1px solid rgba(0, 0, 0, 0.3);
            padding-block: 1rem;
            background: transparent;
            outline: none;
          }

          textarea {
            resize: vertical;
            min-height: 3.35rem;
            max-height: 10rem;
          }

          input:focus,
          textarea:focus {
            border-block-end-color: $secondary-color;
          }

          input:focus ~ label,
          textarea:focus ~ label {
            color: $secondary-color;
          }

          input:focus ~ label,
          input:not(:placeholder-shown) ~ label,
          textarea:focus ~ label,
          textarea:not(:placeholder-shown) ~ label {
            top: -5px;
            font-size: 0.875rem;
          }
        }

        button {
          margin-block-start: 1rem;
        }
      }
    }

    .media {
      width: 100%;
      flex: 1;
      display: flex;
      justify-content: center;

      img {
        width: 70%;

        @include respond-to(lg) {
          width: 85%;
        }

        @media (max-width: 896px) {
          width: 100%;
        }

        @include respond-to(sm) {
          width: 65%;
        }

        @include respond-to(xs) {
          width: 80%;
        }
      }
    }

    &.contact-form {
      @include respond-to(sm) {
        flex-direction: column-reverse;
      }
    }

    @include respond-to(sm) {
      width: 80%;
      flex-direction: column;
    }

    @include respond-to(xs) {
      width: 90%;
    }
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1;

  dialog {
    width: 30rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: none;
    border-radius: 0.5rem;
    padding: 2rem;
    inset: 0;
    margin: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    gap: 2rem;
    transition: opacity 0.2s ease-in-out;

    &.hidden {
      opacity: 0;
    }

    &.show {
      opacity: 1;
    }

    .close-btn {
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
      font-size: 1.5rem;
      color: rgba(0, 0, 0, 0.4);
      &:hover {
        cursor: pointer;
      }
    }

    .modal-icon {
      font-size: 3.5rem;
    }

    p {
      text-align: center;
      color: $primary-color;
      letter-spacing: 0.02rem;
      line-height: 1.5rem;
    }

    button {
      width: 50%;
    }
  }
}
