.hero {
  position: relative;
  width: 100%;
  height: calc(100dvh - 75px);
  overflow: hidden;

  .title-container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-align: center;

    picture {
      align-self: flex-end;
      .bird {
        width: 3.75rem;
      }
    }

    h1 {
      font-size: 3.75rem;
      font-weight: 800;
      letter-spacing: -0.02em;
      .lands {
        color: $secondary-color;
      }
    }

    p {
      font-size: 1.25rem;
      font-weight: 700;
      width: 31.25rem;
      max-width: 90%;
    }

    @include respond-to(sm) {
      .bird {
        width: 3.4rem;
      }

      h1 {
        font-size: 3.4rem;
      }
    }

    @include respond-to(xs) {
      .bird {
        width: 3.15rem;
      }

      h1 {
        font-size: 3.15rem;
      }

      p {
        font-size: 1.15rem;
      }
    }
  }

  .earth-globe-container {
    height: 120%;
    position: absolute;
    transform-origin: center;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 66%);

    .airplane-container {
      position: absolute;
      top: 62%;
      left: 41.5%;
      transform-origin: center center;
      animation: moveAirplane 10s linear forwards;

      .airplane {
        width: 10rem;
        animation: rotateAirplane 10s linear forwards;
      }

      @keyframes rotateAirplane {
        0% {
          transform: rotate(-90deg);
        }

        50% {
          transform: rotate(90deg);
        }

        100% {
          transform: rotate(-90deg);
        }
      }

      @keyframes moveAirplane {
        // Los 530px que son el radio/diametro de la circunferencia habria que pasarlos a
        // porcentaje para que se vea bien en todos los tamaños de pantalla
        0% {
          transform: rotate(0deg) translate(-530px) rotate(0deg);
        }

        100% {
          transform: rotate(360deg) translate(-530px) rotate(-360deg);
        }
      }

      @include respond-to(md) {
        display: none;
      }
    }
  }
}

.partners {
  position: relative;
  width: 100%;
  height: 9rem;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding-block: 2rem;
  overflow: hidden;

  &::before,
  &::after {
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    content: '';
    height: 100%;
    position: absolute;
    width: 12rem;
    z-index: 1;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .partners-carousel {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 5rem;
    animation: scroll 60s linear infinite;

    img {
      height: 3rem;
    }
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
}

.card-section-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 3rem;
  text-align: center;

  .card-section {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    @include respond-to(sm) {
      gap: 1rem;
    }

    h2 {
      font-size: 2rem;
    }

    .cards-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;

      .card {
        width: 30%;
        height: 365px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 1.25rem;
        opacity: 0;
        transform: translateY(50px);
        transition: all 1s ease-out;

        .card-image {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
        }

        picture {
          height: 150px;
          display: flex;
          align-items: center;
        }

        img {
          max-height: 150px;
          max-width: 100%;
        }

        .card-text {
          height: 150px;
          max-width: 300px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;
          font-weight: 300;

          h3 {
            font-size: 1.5rem;
            font-weight: 600;
          }

          p {
            height: 155px;
          }

          @include respond-to(sm) {
            h3 {
              font-size: 1.25rem;
            }
          }
        }

        @include respond-to(sm) {
          width: 100%;

          .card-text {
            h3 {
              font-size: 1.25rem;
            }
          }
        }

        @keyframes fadeInUp {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
      }

      .card.show {
        opacity: 1;
        transform: translateY(0);
      }

      @include respond-to(sm) {
        flex-direction: column;
        gap: 0;

        .card {
          width: 100%;
        }

        .card-text {
          h3 {
            font-size: 1.25rem;
          }
        }
      }
    }

    @include respond-to(sm) {
      width: 80%;

      h2 {
        font-size: 1.75rem;
      }
    }

    @include respond-to(xs) {
      width: 90%;
    }
  }
}
